<html lang='en'>
    <head>
        <title>About us</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>

        <div class="topnav" id="myTopnav" style="background-color: #9eddff">
            <a href="/">Home</a>
            <!--<a href="resnet.html">ResNet Classifier</a>-->
            <a href="/classifier">Classifier</a>
            <!--<a href="knn.html">kNN Classifier</a>-->
            <a href="/aboutp/">About Pneumonia</a>
            <!--<a href="https://stoppneumonia.org/pneumonia-silent-killer/?fbclid=IwAR3LY83-">About Pneumonia</a>-->
            <a href="/aboutus" class="active">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars">&#x2630;</i>
            </a>
        </div>

        <div class="page">
            <div class="center">
                <h1 class="header" style="color: black; font-family: Calibri, serif">The Research Group</h1>
                <div class="content">
                                        <img class="NTNU_pic" src="../static/grupo%20ml.png" alt="Group picture">

                    <p style="color: black"><br><br><br>This web page is made as part of a group project in the
                        course TDT4173 Machine Learning at the Norwegian University <br> of Science and Technology.
                        More about the course <a class="links" href="https://www.ntnu.edu/studies/courses/TDT4173#tab=omEmnet">here</a>.
                        <br><br> Our group consisted of three 4-year students; Anders, Marianne,
                        and Elise. All of us are enrolled at the Norwegian University <br> of Science and Technology in the
                        study program Engineering and ICT. More about the program <a class="links" href="https://www.ntnu.edu/studies/mting">here</a>.
                        <br><br> Our group worked for 2.5 months on the problem of automatically diagnosing patients.
                        We trained a machine learning model <br> consisting of
                        a neural network with 50 layers, called a Residual Neural Network, during our project. We trained it
                        to classify real <br> medical chest x-ray images into two groups: normal and abnormal. The images we used
                        are of children with and without pneumonia. After <br> training, our model correctly classified 820 of
                        844 x-rays with pneumonia and 318 out of 327 normal x-rays. Even though the model <br> cannot guarantee
                        exact results, it achieved an impressively 97.18% accuracy. We still recommend checking with your
                        doctor <br> to be sure of your diagnosis. <br>

                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
