<html lang='en'>
    <head>
        <title>About Pneumonia</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
        
    </head>
    <body>
        
        <div class="topnav" id="myTopnav">
            <a href="/">Home</a>
            <!--<a href="resnet.html">ResNet Classifier</a>-->
            <!--<a href="knn.html">kNN Classifier</a>-->
            <a href="/aboutp" class="active">About Pneumonia</a>
            <!--<a href="https://stoppneumonia.org/pneumonia-silent-killer/?fbclid=IwAR3LY83-">About Pneumonia</a>-->
            <a href="/aboutus">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars">&#x2630;</i>
            </a>
        </div>
        <div class="page">
            <div class="center">
                <h1 class="header">Pneumonia: The silent killer</h1>
                <p class="ingress">Pneumonia kills more children than any other infectious disease. Globally, close to 1 million 
                    under five children die from this preventable disease every year – the equivalent of more than 2,500 dying every day. 
                    That’s more than the death tolls of diarrhoea, malaria and HIV combined for this age group. Yet you will hear of no global 
                    campaign or cause to end pneumonia.</p>
                <div class="content2">
                    <div class="text">
                    <h2>What is Pneumonia</h2>
                    <p>Pneumonia is an infection of the lungs, and is most often bacterial or viral, though it can also be caused by fungus or parasites. 
                        The mucus created in the lungs provokes coughing, shortness of breath and fever, among other symptoms. As the lungs fill with fluid 
                        their ability to intake oxygen decreases. The disease can be acquired in many different ways in the community, 
                        usually from breathing the germs into the lungs. It is also very commonly acquired in hospital settings, and 
                        is frequently associated with or provoked by other conditions. There are 30 different known causes of pneumonia, 
                        and consequently there’s no silver bullet to eradicate it. However, a range of effective strategies does exist to 
                        control the disease and considerably reduce its deadly impact.
                    
                    </p>
                    <a href="https://stoppneumonia.org/pneumonia-silent-killer/?fbclid=IwAR3LY83-" class="button3">Read more about it here</a>
                    </div>
                    <div class="picture">
                        <img src="../static/pneumonia.png" alt="pneumonia pic">
                    </div>
                </div>
            </div>
        </div>
    </body> 
</html>