<html lang='en'>
    <head>
        <title>About us</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>

        <div class="topnav" id="myTopnav" style="background-color: #9eddff">
            <a href="/">Home</a>
            <!--<a href="resnet.html">ResNet Classifier</a>-->
            <a href="/classifier">Classifier</a>
            <!--<a href="knn.html">kNN Classifier</a>-->
            <a href="/aboutp/">About Pneumonia</a>
            <!--<a href="https://stoppneumonia.org/pneumonia-silent-killer/?fbclid=IwAR3LY83-">About Pneumonia</a>-->
            <a href="/aboutus" class="active">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars">&#x2630;</i>
            </a>
        </div>

        <div class="page">
            <div class="center">
                <h1 class="header" style="color: black">The research group</h1>
                <div class="content">
                                        <img class="NTNU_pic" src="../static/grupo%20ml.png" alt="Group picture">

                    <p style="color: black"><br><br><br>This page is made as a part of a group project in the course TDT4173 Machine Learning at the Norwegian University of Science
                        and Technology. In this project we have chosen to use two different machine learning methods to classify real medical 
                        chest x-ray images into two groups: normal  and abnormal. The images we used is of children with and without pneumonia.
                        The data for this was collected from Kaggle.com. For our machine learning methods, we chose to look further into Supervised
                        Learning by using the residual neural network with 50 layers (ResNet50) and the k-nearest neighbours (kNN) algorithms. 
                        After training both algorithms the ResNet50 yielded an impressively 97,18% accuracy, while the kNN only accomplished 76.53%.
                        Because of this, we decided that we would only use the ResNet50 algorithm on this website.<br>

                        <br>The group consists of three 4-year student enrolled at Norwegian University of Science
                        and Technology, in the study program, <a class="links" href="https://www.ntnu.no/studier/mting">Engineering and ICT</a>.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
