<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style2.css'>
  <script src='../static/client.js'></script>
</head>

<body>
<div>
    <div class='center'>
    
        <div>
            <p>
            Choose the right <strong>trash categories</strong> to help us improve! 
            </p>
        </div>

        <div class='select'>
            <select>
                <option> --Please choose-file-button</option>
                <option value="cardboard">Cardboard</option>
                <option value="e-waste">E-waste</option>
                <option value="glass">Glass</option>
                <option value="metal">Metal</option>
                <option value="paper">Paper/option>
                <option value="plastic">Plastic</option>
                <option value="trash">Trash</option>
            </select>
        </div>
                
        <div>
            <button class='submit' type='button' onclick='showPicker()'>
                SUBMIT
            </button>
        </div>
        
        <div class='thank'>
            <label id='thank'></label>
            Thank you! <a herf="index.html">Try another picture! </a>>
        </div>
    </div>



</div>
</body>
</html>