<html lang='en'>
<head>
  <meta charset='utf-8'>
  <!-- <link rel='stylesheet' href='../static/style.css'> -->
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
      <p>-------------------------------------------------------------------------------</p>
    <div class='title'> > Is this a leader?  </div>
    <p>
     Upload a photo so the AI can analyze it!
    </p>
    098210/ :    }incl
    no allows
    00
    00577698700: {:/380 incl     986 000
    2224/..... > assign default value  = 0;}
     <!-- font-family: 'Source Sans Pro', sans-serif; -->
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Check it out...</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
      <p>-------------------------------------------------------------------------------</p>
    </div>
  </div>
</div>
</body>
</html>
