<html lang='en'>
    <head>
        <title>kNN Classifier</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='../static/style.css'>
        <script src='../static/client.js'></script>
    </head>
    <body>
        <div class="topnav" id="myTopnav">
            <a href="index.html">Home</a>
            <!--<a href="resnet.html">ResNet Classifier</a>-->
            <!--<a href="knn.html">kNN Classifier</a>-->
            <a href="aboutp.html">About Pneumonia</a>
            <!--<a href="https://stoppneumonia.org/pneumonia-silent-killer/?fbclid=IwAR3LY83-">About Pneumonia</a>-->
            <a href="aboutus.html">About Us</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <h1 class="header">Heyo</h1>
    </body>
</html>