-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch_nightly
numpy
git+git://github.com/fastai/fastai.git@9835e1805d0f9609c28a3258200e2824240e3deb#egg=fastai
starlette
uvicorn
python-multipart
aiofiles
aiohttp