numpy
torchvision_nightly
torch_nightly
-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
git+git://github.com/fastai/fastai.git#egg=fastai
starlette
uvicorn
python-multipart
aiofiles
aiohttp