body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 5 em;
}

.analyze {
    margin-top: 5em;

}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}


button.submit-button {
    position: relative; 
    top: 30px;>

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #008000;
    font-size: 13px;
    color: #008000;
}
button.submit-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;

}

button.back-button {
    position: relative; 
    top: 60px;>

    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(69, 122, 219);
    font-size: 13px;
    color: rgb(69, 122, 219);
}

button.back-button:hover {
    background-color: rgb(69, 122, 219); /* Green */
    color: white;

}



button:focus {
    outline: 0;
}
