body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.select {
    margin-top: 5em;

}

button.choose-file-button {
    position: relative;
    bottom: 30px;

    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #008000;
    font-size: 13px;
    color: #008000;
}

button.choose-file-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;

}

button.analyze-button {
    position: relative;
    bottom: 30px;

    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(69, 122, 219);
    font-size: 13px;
    color: rgb(69, 122, 219);
}

button.analyze-button:hover {
    background-color: rgb(69, 122, 219); /* Green */
    color: white;

}


button:focus {
    outline: 0;
}
