body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 20px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 5em;
}

.analyze {
    margin-top: 5em;

}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}


button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #008000;
    font-size: 13px;
    color: #008000;
}
button.choose-file-button:hover {
    background-color: #4CAF50; /* Green */
    color: white;

}

button.analyze-button {

    width: 200px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(69, 122, 219);
    font-size: 13px;
    color: rgb(69, 122, 219);
}

button.analyze-button:hover {
    background-color: rgb(69, 122, 219); /* Green */
    color: white;

}

button.right-button {

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(40, 187, 11);
    font-size: 13px;
    color: rgb(40, 187, 11);
}

button.right-button:hover {
    background-color: rgb(40, 187, 11); 
    color: white;

}

button.wrong-button {
    position: relative; 
    top: 5px;>

    width: 100px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px rgb(189, 27, 27);
    font-size: 13px;
    color: rgb(189, 27, 27);
}

button.wrong-button:hover {
    background-color: rgb(189, 27, 27); 
    color: white;

}


button:focus {
    outline: 0;
}
