body {
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

/* h1 {
    font-family: 'Source Sans Pro', sans-serif;
  } */
.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.right {
    margin: auto;
    padding: 10px 50px;
    text-align: right;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    right: 0px;
    display: inline-block;
    vertical-align: middle;
    /* float: right; */

}

.left {
    margin: auto;
    padding: 10px 50px;
    text-align: left;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #262626;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
    display: inline-block;
    vertical-align: middle;
    /* float: right; */
    /* position:right; */
}

.upload-label {
    padding: 10px;
    font-size: 12px;
    /* position: right; */
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
    /* position: right; */
}

.row:after {
    content: "";
    display: table;
    clear: both; 
}

.column {
    float: left;
    width: 50%;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px rgb(14, 10, 26);
    font-size: 13px;
    color: rgb(16, 13, 26);
    display: inline-block;
    vertical-align: middle;
/* float: right; */
    /* position:right; */
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px rgb(20, 13, 44);
    border-radius: 2px;
    background-color: rgb(31, 19, 68);
    font-size: 13px;
    color: #cca9a9;
    vertical-align: middle;
}

button:focus {
    outline: 0;
}
