body {
    background-color: white;
    margin: auto;
    border-bottom: 0;
    line-height: 150%;
    
}

/*Top navigation bar for the page*/
.topnav {
    overflow: hidden;
    background-color: powderblue;
    border-bottom: solid 1px silver;
    width: 100%;
    margin: auto;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    border-bottom: solid 1px white;
    color: powderblue;
  }
  
  .topnav .icon {
    display: none;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: black;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      color: black;
      display: block;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.no-display {
    display: none;
}
h1 { 
    margin-top: 0;
}
p{
    font-size: 20px;
    font-family: Calibri, serif;
}

.center {
    margin: auto;
    padding: 5px 50px;
    text-align: center;
    font-size: 15px;
}

.maintitle{
    font-size: 45px;
}

.content {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}

body {
  background-color: rgba(0,0,0,1);
  font-weight:600;
  text-align:center !important;
  color: white;
}




.page-title {
  opacity: .75 !important;
}


.page {
    background-color: white;
    align-items: center;
    margin: auto;
    min-height: 100%;
    width: 100%;

}


.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    color: #262626;
}


.undertitle {
    font-size: 22px;
    margin-bottom: 2em;
    color: #262626;
}

.header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

.analyze {
    margin-top: 2em;
}

.p{
    color: white;
}

.upload-label {
    padding: 8px;
    font-size: 12px;
}
#image-picked {
    margin-top: 1em;
}
.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #9eddff;
    font-size: 13px;
    color: black;
    text-align: center;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #9eddff;
    border-radius: 2px;
    background-color: #9eddff;
    font-size: 13px;
    color: black;
    text-align: center;
}

button:focus {
    outline: 0;
}

.logo_pic{
    width: 70%;
    height: 40%;
}


/* Modal for the classification results */
/* The Modal (background) */
.button {
    margin: 0;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: white; /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
  }
  

  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #9eddff;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}

  #state {
      color: red;
      font-size: 25px;

  }

  #percent {
    color: red;
  }

  /* Pneumonia page*/
  .content2{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
  }

  .picture {
    width: 70%;
    float: right;
    margin-top: 2em;
    padding-top: 2.5em;
    
    /*margin-right: 10px;*/

    /*display: flex;
    flex-direction: column;
    align-items: center;*/
  }


  .text {
    float: left;
    width: 50%;
    /*border: solid 1px white;*/
    margin-top: 2em;
    margin-left: 20px;
      color: white;
    
    
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
  }

  .ingress {
      margin: auto;
      font-size: 20px;
      width: 90%;
      color: white;
      padding-top: 1.5em;
      
  }
  .button3 {
    background-color: #9eddff;
    border: none;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .NTNU_pic {
    padding-top: 5em;
    width: 50%;
    height: 50%;
    justify-content: center;
} 

  @media only screen and (max-width: 1020px) {
    .content2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        width: 100%;
    }
    .picture {
        min-width: 100%;
    }

    .links{
        background-color: black;
        color: black;
    }

    links:hover{
        background-color: #9eddff;
        color: #9eddff;

    }

  /*.CNN_pic {
      width: 80%;
      height: 80%;
  }*/



  
}