body {
    background-color: #E6E6FA;
    margin: auto;
    border-bottom: 0;
    line-height: 150%;
    
}

/*Top navigation bar for the page*/
.topnav {
    overflow: hidden;
    background-color: white;
    border-bottom: solid 1px#E6E6FA;
    width: 92%;
    margin: auto;
    
  }
  
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: white;
    border-bottom: solid 1px #7052CB;
    color: #7052CB;
  }
  
  .topnav .icon {
    display: none;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      color: black;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      color: black;
      display: block;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.no-display {
    display: none;
}
h1 { 
    margin-top: 0;
}
.center {
    margin: auto;
    padding: 5px 50px;
    text-align: center;
    font-size: 15px;
}

.content {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page {
    background-color: white;
    align-items: center;
    margin: auto;
    min-height: 100%;
    width: 92%;
}


.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 0;
    color: #262626;
}


.undertitle {
    font-size: 22px;
    margin-bottom: 2em;
    color: #262626;
}

.header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
}

.analyze {
    margin-top: 2em;
}

.upload-label {
    padding: 8px;
    font-size: 12px;
}
#image-picked {
    margin-top: 1em;
}
.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB;
    text-align: center;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
}

button:focus {
    outline: 0;
}


/* Modal for the classification results */
/* The Modal (background) */
.button {
    margin: 0;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
  }
  

  /* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #7052CB;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}

  #state {
      color: #7052CB;
      font-size: 25px;

  }

  #percent {
    color: #7052CB;
  }

  /* Pneumonia page*/
  .content2{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
  }

  .picture {
    width: 70%;
    float: right;
    margin-top: 2em;
    padding-top: 2.5em;
    
    /*margin-right: 10px;*/

    /*display: flex;
    flex-direction: column;
    align-items: center;*/
  }

  .text {
    float: left;
    width: 50%;
    /*border: solid 1px white;*/
    margin-top: 2em;
    margin-left: 20px;
    
    
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
  }

  .ingress {
      margin: auto;
      font-size: 16px;
      width: 90%;
      padding-top: 1.5em;
      
  }
  .button3 {
    background-color: #7052CB;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 200px;
  }

  .NTNU_pic {
    padding-top: 5em;
    width: 30%;
    height: 30%;
    justify-content: center;
} 

  @media only screen and (max-width: 1020px) {
    .content2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text {
        width: 100%;
    }
    .picture {
        min-width: 100%;
    }

  /*.CNN_pic {
      width: 80%;
      height: 80%;
  }*/



  
}